
<ion-content id="containerRegister">
  <div >
    <span class="titleSpan" >{{this.titleSteps}}</span>

    <mat-horizontal-stepper [linear]="isLinear" #stepper (selectionChange)="cambiarTitulos($event)">
      <!-- keep icons as numbers during edit-->

      <mat-step  state="step1">
        <div>

         <app-numbercell  (avanzarAlSiguientePaso)="avanzarAlSiguientePaso()"></app-numbercell>
        </div>
      </mat-step>

      <mat-step  state="step2">
        <div>
          <app-account-info (avanzarAlSiguientePaso)="avanzarAlSiguientePaso()"></app-account-info>
        </div>
      </mat-step>


      <mat-step state="step3">

        <div>
         <app-finish></app-finish>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>

</ion-content>
