


  <div id="containerSuccess">
  <ion-card  >
    <div  class="ion-text-center">
    <img  alt="Silhouette of mountains" src="../../../assets/images/marrano regalo.png" />
    <ion-card-header>
      <ion-card-title >¡Bienvenido a Coink!</ion-card-title>

    </ion-card-header>

    <ion-card-content >
      ¡Cuenta creada exitosamente, tu marrano ya está listo para que empieces a ahorrar!
    </ion-card-content>

    <ion-button   expand="full" color="primary" shape="round" (click)="goToHome()">CONTINUAR</ion-button>
  </div>
  </ion-card>
</div>

