.containerSuccess{
  left: 0px;
  right: 0px;
  top: calc(var(--offset-top) * -1);
  bottom: calc(var(--offset-bottom) * -1);
  position: absolute;
  background: #00000033!important;
  display:flex;
  justify-content: center;
  align-items: center;
  ion-content{
    background: rgb(195, 184, 184) !important;
  }
  .md{
    display: inline-block;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
.div-txt{

  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contenCard{
margin-bottom: 40px;
  margin-top: 40px;
}
.ion-text-center{
  margin: 60px;
  padding: 60px !important;
}
.div-btn{

  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

}
