
#containerFinish {
  color: #757575;
 padding-top: 60px;
  display:flex;
  justify-content: center;

  flex-direction: column;
  height: fit-content;
.terminosCondition{
  display: flex;
margin-top: 20px;
margin-bottom: 40px;
justify-content: flex-start;
flex-direction: row;
color:#004B40;
}
.titleDesription{
margin-top: 30px;
margin-bottom: 30px;
  color:#004B40;
  font-size: 15px;
  display: flex;
  justify-content: flex-start;
  font-family: 'Montserrat';
  text-align: start;
  font-weight: bold;
  margin-bottom: 10px;
}

.subtitle{
  display: flex;
  justify-content: center;
}
.divImgtext{
  align-items: center;
  display: flex;

}
.parrafContent{
  color:#323232;
  font-size: 14px;
  text-align: start;
  margin-bottom: 20px;

}
.readcontract{
  color: #004B40;
margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color:#004B40;

}
ion-label{
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding:60px;
}
ion-label:hover {
  color: #1EEB00;
  background-color: transparent !important; /* Quita el fondo al hacer hover */

  background: #757575;/* Cambia el color al hacer hover */
  /* Otros estilos que desees aplicar al hacer hover */
}
.ion-col.md{
  border: none;
  margin: 0px;
  font-size:  32px;
  background: white !important;
  color: #004B40;

}
.content-input{
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerContent{

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  height: fit-content;
}


.style-btn-check{
  background: #D3D3D3;
  border-radius: 60px;
  border: none;
  width: 40px;
  height: 40px;
  padding: 10px;

}

.style-btn-check-succes{
  background: #1EEB00;
  border-radius: 60px;
  border: none;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.style-icon{
 width: 40px;
 align-items: center;
 height: 40px;
 justify-content: center;
 display: flex;
 text-align: center;

}

.content-input{
  padding: 10px 20px; /* Ajusta el espaciado interno */
  border: 2px solid #ccc; /* Agrega un borde al botón */
  border-radius: 5px; /* Ajusta el radio del borde */
 font-size: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Agrega una sombra al botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: box-shadow 0.3s ease; /* Agrega una transición a la sombra */
display:flex;
justify-content: center;
align-items: center;}


ion-input{
  justify-content: center;
  display: flex;
}



.titleSpan{

  color:#004B40;
  font-size: 15px;
  display: flex;
  justify-content:flex-start;
  font-family: 'Montserrat';
  text-align: start;
  font-weight: bold;
  margin-bottom: 10px;
}
.style-icon{
 width: 40px;
 align-items: center;
 height: 40px;
 justify-content: center;
 display: flex;
 text-align: center;

}
.img-coink{
  width: 80px;
  height: 80px;
}
.content-textDescript{
  display: flex;
  justify-content:flex-start;
  flex-direction: column;
  text-align: start;
  line-height: 1.2;
  font-size: 14px;
  margin-left: 20px;
}
.title-form-config-account{
  color:#004B40;
  font-size: 15px;
  display: flex;
  justify-content:flex-start;
  font-family: 'Montserrat';
  text-align: start;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top:20px;
}


}
