/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


.mat-step-icon-selected {
  background-color: #76d557 !important;
  border-radius: 50% !important;
  padding: 10px !important;
  border: 1px solid #76d557 !important;
  color: var(--mat-stepper-header-selected-state-icon-foreground-color);
}
.mat-step-icon-state-done {
  border-radius: 50% !important;
  padding: 10px !important;
  border: 1px solid  #76d557 !important;
  background-color:  #76d557 !important;
  color: var(--mat-stepper-header-done-state-icon-foreground-color);
}

.mat-step-icon-content {
display: none !important;

}
.mat-stepper-horizontal-line {
  border-top-width: 1px;
  border-top-style: solid;
  flex: auto;
  height: 0;
  flex-direction: row;
 width: 20% !important;
  margin: 0px !important;
  min-width: 40px !important;
  border-top-color: var(--mat-stepper-line-color);
}
.mat-horizontal-stepper-header {
  width: 20px;
  display: flex;
  height: 72px;
  overflow: hidden;
  align-items: center;
  padding: 0 18px;
  height: var(--mat-stepper-header-height);
}
.mat-horizontal-stepper-header-container {
  white-space: nowrap;
  display: flex;
  padding: 0px 48px;
  align-items: center;
}

.mat-horizontal-stepper-header .mat-step-icon {
  margin-right: 8px;
  flex: none;
  border-radius: 50%;
  border: 1px solid grey;
  background: white;

}
.mat-horizontal-stepper-header-container {
  white-space: nowrap;
  display: flex;
  padding: 10px 20px;
  border: 0px 2px solid #ccc;
  height: 57px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  align-items: center;
}



.sc-ion-input-md-h {
  --placeholder-color: initial;
  --placeholder-font-style: initial;
  --placeholder-font-weight: initial;
  --placeholder-opacity: 0.6;
  --padding-top: 0px;
  --padding-end: 0px;
  --padding-bottom: 0px;
  --padding-start: 0px;
  --background: transparent;
  --color: initial;
  --border-style: solid;
  --highlight-color-focused: var(--ion-color-primary, #3880ff);
  --highlight-color-valid: var(--ion-color-success, #2dd36f);
  --highlight-color-invalid: var(--ion-color-danger, #eb445a);
  --highlight-color: #767775;
  display: block;
  position: relative;
  width: 100%;
  padding: 0 !important;
  color: var(--color);
  font-family: var(--ion-font-family, inherit);
  z-index: 2;
}
